@(book: Book)
@layout(book.title){

	<h2>@book.title</h2>
		<p>Price: @book.price $</p>
		<p>Author: @book.author</p>
		
		<a href= "@routes.BooksController.edit(book.id)">Edit</a><br>
		<a href="@routes.BooksController.destroy(book.id)">Delete</a>

}
